<!doctype html>
<html>

<head>
  <title>Multi Web Audio Sequencer</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="..<%=base_path%>/assets/bootstrap-slider/dist/css/bootstrap-slider.min.css">
  <link rel="stylesheet" type="text/css" href="..<%=base_path%>/assets/stylesheets/styles.css">
</head>

<body id="site-body">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="..<%=base_path%>/socket.io/socket.io.js"></script>

  <!--    HEADER   -->
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron" style="text-align: center;">
        <h1>Multi Web Audio Sequencer</h1>
      </div>
    </div>
  </div>

  <!--    MAIN CONTAINER    -->
  <div class="container">

    <!--    ROOM & NICKNAME CONTAINER    -->
    <div class="row" id="room-container">
      <div class="col-md-8" style="padding-top: 10px; padding-bottom:10px;">
        <span style="font-size:14px;font-weight: bold;" id="room-number">Room:</span>
        <a class="btn btn-success <% if(room==1){ %>active<% } %>" href="<%=base_path%>/?room=1">1</a>
        <a class="btn btn-success <% if(room==2){ %>active<% } %>" href="<%=base_path%>/?room=2">2</a>
        <a class="btn btn-success <% if(room==3){ %>active<% } %>" href="<%=base_path%>/?room=3">3</a>
        <a class="btn btn-success <% if(room==4){ %>active<% } %>" href="<%=base_path%>/?room=4">4</a> &emsp;&emsp;
        <span style="font-size:14px;font-weight: bold;" id="room-number">Nickname:</span>
        <form id="nickname-form" action="javascript:void(0);" style="display: inline-block;">
          <input class="my-box-white usernameInput" style="width:160px;" type="text" placeholder="Enter nickname" maxlength="14" />
          <button type="button" class="btn btn-success" id="change-nickname" style="width:80px;">Choose</button>
        </form>
      </div>
    </div>

    <!--    PLAY TEMPO CONTAINER    -->
    <div class="row">
      <div class="col-md-12 tempoBorder">
        <button id="play-pause" type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
        <button id="record" type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
        </button>
        <span class="tempo-container">
          <label >Tempo:</label>
          <input id="tempo-input" disabled>
          <span id="decrease-tempo" class="glyphicon glyphicon-minus btn btn-success tempo-btn"></span>
        <span id="increase-tempo" class="glyphicon glyphicon-plus btn btn-success tempo-btn"></span>
        </span>&emsp;&emsp;
        <span>
          <label >Sequence length:</label>
          <form id="change-sequence-length-form" action="javascript:void(0);" style="display: inline-block;">
            <input id="sequence-length" class="my-box-white" style="width:70px;" type="number" min="1" max="64">
            <button type="button" class="btn btn-success" id="change-sequence-length" style="width:80px;">Choose</button>
          </form>
        </span>
      </div>
    </div>

    <!--    INSRUMENT PADS CONTAINER    -->
    <div class="row">
      <div class="instruments col-sm-12" id="instrument-section">
        <div class="row"></div>
        <div class="row section">
          <div class="col-xs-12">
            <button id="newTrack" type="button" class="btn btn-success" onclick="addNewTrackDetails()">Add Track</button>
            <div id="trackDetails" hidden>
              <form id="add-track-form" action="javascript:void(0);" style="display: inline-block;">
                <input type="text" id="newTrackName" placeholder="New track name">
                <button type="button" id="addNewTrack" class="btn btn-success" disabled>New track</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--   SEARCH CONTAINER    -->
    <div class="row" id="search-container">
      <div class="col-md-12">
        <form id="search-form" action="javascript:void(0);" style="display: inline-block;">
          <input type="text" id="search-query" placeholder="Enter query" class="my-box-white">
          <button type="button" id="search-button" class="btn btn-success" disabled>Search</button>
        </form>
        &emsp;
        <nav aria-label="Page navigation" style="display: inline-block;">
          <ul class="pagination">
            <li>
              <button class="btn btn-success" type="button" id="previous" aria-label="Previous" disabled>
                Previous
              </button>
            </li>
            <span class="my-box" id="page"> -/- </span>
            <li>
              <button class="btn btn-success" type="button" id="next" aria-label="Next" disabled>
                Next
             </button>
            </li>
          </ul>
        </nav>
        <div class="duration-select">
            <span style="font-size:14px;font-weight: bold;">Duration Filter (sec)  &emsp;</span>
            <input id="sampleDuration" 
            type="text" 
            class="span2" 
            value="" 
            data-provide="slider"
            data-slider-min="0"
            data-slider-max="20" 
            data-slider-step="1"
            data-slider-value="[0,10]"/> 
          </div>
          <br>
        <div id="search-result-container"></div>
        <div id="error" style="color:red"></div>
      </div>
    </div>

    <!--   CHAT CONTAINER    -->
    <div class="row" id="chat-container" style="padding-top: 10px; padding-bottom:10px;">
      <div class="col-md-6 chat">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..." />
      </div>
    </div>
    
    <!--   EXPORT CONTAINER    -->
    <div class="row" id="export-container" style="padding-top: 10px; padding-bottom:10px;">
      <div class="col-md-6 chat">
        <div class="exported-audio"></div>
      </div>
    </div>
    <br>

    <!--   EFFECT CONTAINER    -->
<!--
    <div class="row">
      <div class="col-md-6">
        <div class="filter-controls col-md-4">
          <div class="control">
            <button id="lpf" class="btn btn-default btn-lg">Low Pass Filter</button>
          </div>
          <div class="control">
            <label for="freq-slider">Cutoff Frequency</label>
            <div id="freq-slider"></div>
          </div>
          <div class="control">
            <label for="quality-slider">Quality</label>
            <div id="quality-slider"></div>
          </div>
        </div>
        <div class="effect-controls col-md-4">
          <div class="control">
            <button id="reverb" class="btn btn-default btn-lg">Reverb</button>
          </div>
        </div>
      </div>
    </div>
-->

  </div>

  <!-- Javascripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="./assets/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/plugin/wavesurfer.regions.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js"></script>
  <script type="text/javascript" src="..<%=base_path%>/assets/javascripts/jquery.knob.min.js"></script>
  <script type="text/javascript" src="..<%=base_path%>/assets/javascripts/freesound.js"></script>
  <script type="text/javascript" src="..<%=base_path%>/assets/javascripts/wave.js"></script>
  <script type="text/javascript" src="..<%=base_path%>/assets/javascripts/kit.js"></script>
  <script type="text/javascript" src="..<%=base_path%>/assets/javascripts/impulse-response.js"></script>
  <script type="text/javascript" src="..<%=base_path%>/assets/javascripts/search.js"></script>
  <script type="text/javascript" src="..<%=base_path%>/assets/javascripts/app.js"></script>
  <script>
    
    function addPadClickEvent(socket, trackId = null) {
      if (trackId) {
        // if an instrument is given, select the pads of it
        var pads = $('.instrument').eq(trackId).children().children(".pad");
      } else {
        // if there is no instrument given, select all the pads
        var pads = $('.pad');
      }
      pads.click(function() {
        socket.emit('pad', toggleSelectedListener($(this)));
      });
    }

    function sendNewTrack(trackName, soundUrl = null) {
      socket.emit('newTrack', [trackName, soundUrl]);
    }

    function sendLoadSound(trackId, soundUrl) {
      socket.emit('loadSound', [trackId, soundUrl]);
    }

    function sendDeleteTrack(trackName) {
      socket.emit('deleteTrack', trackName);
    }

    function sendTempo(tempo) {
      socket.emit('tempo', tempo);
    }
    
    function sendSequenceLength(sequenceLength) {
      socket.emit('sequenceLength', sequenceLength);
    }
    
    function sendTrackGain(trackId, gain) {
      socket.emit('gain', [trackId, gain]);
    }

    $(function() {
      console.log("connecting to room " + '<%= room %>');
      socket = io.connect('/', {path: '<%=base_path%>/socket.io'});

      socket.emit('room', '<%= room %>');
      setRoomForChat('<%= room %>');

      // on recieve sequencer state
      socket.on('SendCurrentState', function(json) {
        console.log("ReceiveCurrentSequencerState", json);
        TranslateStateInActions(json);
      })

      // on recieve pad change
      socket.on('sendPad', function(message) {
        console.log('Valeur des pads reçues', message);
        toggleSelectedListenerSocket(message[0], message[1], message[2]);
      });

      // on change tempo
      socket.on('tempo', function(message) {
        console.log('receive new tempo: ' + message);
        var tempo = message;
        changeTempo(tempo);
      });

      // on recieve new track
      socket.on('sendNewTrack', function(message) {
        console.log('recieveNewTrack: ' + message);
        addNewTrack(message[0], message[1]);
      });

      // on recieve load sound
      socket.on('sendLoadSound', function(message) {
        console.log('receive new load sound: ' + message);
        currentKit.loadSample(message[1], message[0]);
      });

      // on delete track
      socket.on('sendDeleteTrack', function(message) {
        deleteTrack(message);
      });

      // on change wave region
      socket.on('sendWaveRegion', function(message) {
        var trackId = message[0];
        var startTime = message[1];
        var endTime = message[2];
        currentKit.waves[trackId].setStart(startTime);
        currentKit.waves[trackId].setEnd(endTime);
      });
      
      // on change sequence length
      socket.on('sendSequenceLength', function(message) {
        changeSequenceLength(message);
      });
      
      // on change track gain
      socket.on('sendGain', function(message) {
        var trackId = message[0];
        var gain = message[1];
        changeTrackGain(trackId, gain)
      });
    })
  </script>
    <script type="text/javascript" src="./assets/javascripts/chat.js"></script>
</body>

</html>
